{{#if tarea}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N°</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Descripcion</th>
        <th>Nivel</th>
      </tr>
    </thead>
    <tbody>
      {{#each tarea}}
        <tr>
          <td>{{@index}}</td>
          <td><strong>{{titulo}}</strong></td>
          <td>{{autor}}</td>
          <td>{{descripcion}}</td>
          <td>{{nivel}}</td>
          <td>
            {{#if done}}
              <a class="btn btn-success" href="/tarea/{{_id}}/realizada">Realizada</a>
            {{else}}
              <a class="btn btn-dark" href="/tarea/{{_id}}/realizada">
                No Realizada
              </a>
            {{/if}}
            <a href="/tarea/{{_id}}/eliminar" class="btn btn-danger">
              Eliminar
            </a>
            <a href="/tarea/{{_id}}/editar" class="btn btn-info">
              Editar
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-black">
      <h1>No hay tareas</h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-exclamation-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
    </div>

  </div>
{{/if}}